@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Inter:wght@400;600;700&family=Macondo&family=Poppins&family=Tilt+Neon&display=swap");

body{
    font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}